/* HEADER */

#jumbotron_logo {
    margin: 0;
    padding: 10px;
    background-color: #f9f9f9;
}

#jumbotron_logo > img {
    height: 50px;
}

.navbar {
    background-color: #004990;
    border-radius: 0;
    padding:0;
    margin:0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #0078c1;
}

#nav_header {
    padding: 0;
    margin: 0;
}

#nav_header > ul > li:hover > a {
    background-color: #0078c1;
}

#nav_header > ul > li.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border-color: #0078c1;
    border-style: dashed;
}

#nav_header > ul > li > a {
    color: #fff;
}

#nav_header > ul > li > ul.dropdown-menu {
    background-color: #004990;
}

#nav_header > ul > li > ul.dropdown-menu > li:hover > a {
    background-color: #0078c1;
}

#nav_header > ul > li > ul.dropdown-menu > li > a {
    color: #ffffff;
}

/* END HEADER */

/* FOOTER */

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #004990;
    padding: 5px;
    clear: both;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

footer > p {
    color: #ffffff;
    padding: 0;
    margin: 0;
}

/* END FOOTER */

/* ASSISTENZA */

/* MAXI CATEGORIE ASSISTENZA / HIGHLIGHTS */

#assistenza_category > h4 {
    padding-bottom: 2px;
    padding-top: 14px;
    margin: 0;
}

#assistenza_category > h2 {
    padding-bottom: 3px;
    margin: 0;
}

#assistenza_category > hr {
    border-width: 3px;
    border-top-color: #d9edf7;
}

/* END ASSISTENZA */

/* INTESTAZIONE */

#jumbotron_heading {
    margin: 0;
    padding: 0;
    background-color: white;
}

#heading_col_left {
    width: 30%;
}

#heading_col_left > img {
    width: 80%;
}

#p_title{
    font-size: 40px;
    font-weight: 800;
    padding-top: 30px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin: 0;
}

#p_subtitle {
    font-size: 25px;
    padding-left: 5px;
}

#my_breadcrumb {
    background-color: #d9edf7;
    height: 100%;
    padding-left: 8px;
}

#my_breadcrumb > li {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
}

#my_breadcrumb > li > a:visited {
    color: #337ab7;
}

/*
#current_path {
    color: black;
    text-decoration: none;
}
*/

/* END INTESTAZIONE */

/* HIGHLIGHTS */
.hl_left {
    padding: 0;
    margin: 0;
    text-align: right;
    width: 40%;
    font-size: 20px;
}

.hl_right{
    padding-left: 1em;
    margin: 0;
    text-align: left;
    font-size: 20px;
}

/* END HIGHLIGHTS */

/* PROGETTI */

#pro_inn_container > hr {
    border-width: 3px;
    border-top-color: #d9edf7;
}

#pro_inn_container > div.row > div.col-sm-3 > img {
    height: 200px;
    width: 240px;
}

#pro_inn_container > div.row > div.col-sm-6 > p.pro_inn_subtitle,
#pro_inn_container > div.row > div.col-sm-3 > p.pro_inn_subtitle {
    font-size: 25px;
    color: #ed1c24;
}

#pro_inn_container > div.row > div.col-sm-3 > p.pro_inn_descrizione {
    font-size: 15px;
}

#pro_inn_container > div.row > div.col-sm-6 > a:visited,
#pro_inn_container > div.row > div.col-sm-3 > a:visited {
    color: #337ab7;
}

#pro_inn_container > ul.pagination {
    float: right;
}

/* END PROGETTI */

/* INNOVAZIONI */

#pro_inn_container > div.row > div.col-sm-6 > img {
    height: 300px;
    width: 440px;
}
#pro_inn_container > div.row > div.col-sm-6 > p.pro_inn_descrizione {
    font-size: 17px;
}