/* HEADER */

#jumbotron_logo {
    margin: 0;
    padding: 0.8vw;
    background-color: #f9f9f9;
}

#jumbotron_logo > img {
    height: 4vw;
}

.navbar {
    background-color: #004990;
    border-radius: 0;
    padding:0;
    margin:0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #0078c1;
}

#nav_header {
    padding: 0;
    margin: 0;
}

#nav_header > ul > li:hover > a {
    background-color: #0078c1;
}

#nav_header > ul > li.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border-color: #d9edf7;
}

#nav_header > ul > li > a {
    color: #fff;
}

#nav_header > ul > li > ul.dropdown-menu {
    background-color: #004990;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
#nav_header > ul > li > ul.dropdown-menu > li:hover > a {
    background-color: #0078c1;
}

#nav_header > ul > li > ul.dropdown-menu > li > a {
    color: #ffffff;
}

.navbar-default .navbar-toggle {
    border-color: white;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #d9edf7;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/* END HEADER */

/* FOOTER */

/* Add a gray background color and some padding to the footer */
#my_footer {
    background-color: #004990;
    padding: 0.5vw;
    clear: both;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

#my_footer > p {
    color: #ffffff;
    padding: 0;
    margin: 0;
}

/* END FOOTER */

/* ASSISTENZA */

/* MAXI CATEGORIE ASSISTENZA / HIGHLIGHTS */

#assistenza_category > h4 {
    padding-bottom: 0.2vw;
    padding-top: 0.8vw;
    margin: 0;
}

#assistenza_category > h2 {
    padding-bottom: 0.2vw;
    margin: 0;
}

#assistenza_category > a:visited {
    color: #337ab7;
}

/* END ASSISTENZA */

/* INTESTAZIONE */

#heading {
    margin: 0;
    padding: 0;
    background-color: white;
}

#heading_col_left {
    width: 30%;
}

#heading_col_left > img {
    width: 80%;
}

#p_title{
    font-size: 3vw;
    font-weight: 800;
    padding-top: 3vw;
    padding-bottom: 0.3vw;
    padding-left: 1vw;
    margin: 0;
}

#p_subtitle {
    font-size: 2vw;
    padding-left: 1vw;
}

#my_breadcrumb {
    background-color: #d9edf7;
    margin: 0;
}

#my_breadcrumb > li {
    font-size: 1.2vw;
}

#my_breadcrumb > li > a:visited {
    color: #337ab7;
}

/* END INTESTAZIONE */

/* HIGHLIGHTS */
.hl_left {
    padding: 0;
    margin: 0;
    text-align: right;
    width: 37%;
    font-size: 1.8vw;
}

.hl_right{
    padding-left: 1em;
    margin: 0;
    text-align: left;
    font-size: 1.8vw;
}

/* END HIGHLIGHTS */

/* PROGETTI-INNOVAZIONI */

#pro_inn_container > div.row > div.col-sm-6 > img {
    height: 25vw;
    width: 40vw;
    display: block;
    margin: auto;
}

#pro_inn_container > div.row > div.col-sm-6 > p.pro_inn_subtitle{
    font-size: 2vw;
    color: #ed1c24;
}

#pro_inn_container > div.row > div.col-sm-6 > a,
#pro_inn_container > div.row > div.col-sm-6 > p.pro_inn_descrizione {
    font-size: 1.5vw;
}

#pro_inn_container > div.row > div.col-sm-6 > a:visited {
    color: #337ab7;
}

#pro_inn_container > ul.pagination {
    float: right;
}

/* END PROGETTI-INNOVAZIONI */


/* RIGHE */

.my_hr {
    border-width: 0.25em;
    border-top-color: #d9edf7;
}

/* END RIGHE */

/* PAGINE INTRO */

#page_intro > div.row > div.col-sm-3 > a > img {
    display: block;
    margin: auto;
    width: 13vw;
    height: 11vw;
}

#page_intro > div.row > div.col-sm-3 > p {
    background-color: aliceblue;
    font-size: 1.25vw;
    font-weight: 500;
}

#page_intro > div.row > div.col-sm-6 {
    width: 37%;
}

#page_intro > div.row > div.col-sm-6 > img {
    width: 7vw;
    height: 7vw;
    display: block;
    margin: auto;
    float: right;
}

#page_intro > div.row > div.col-sm-6 > p {
    float: left;
    font-size: 1.1vw;
}

/* END PAGINE INTRO */