/* BODY */

/* BODY */

/* UTILITIES */

.breadcrumb {
    height: 50px;
    width: 100%;
    background-color: azure;
    padding: 0;
    margin: 0;
}

.breadcrumb > a:link, a:visited {
    text-decoration: none;
    color: red;
}

.breadcrumb > a:hover, a:active {
    text-decoration: none;
    color: aqua;
}

.intestation {
    margin: 0;
    padding: 0;
}

/* STOP UTILITIES */

/* HOME PAGE */

#topimage {
    background-image: url(../images/TIM_homepageimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 200px;
}

#middleimagesx {
    background-image: url(../images/TIM_manatthephone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    padding: 0;
    margin: 0;
    height: 500px;
}

#middleimagedx {
    background-image: url(../images/TIM_phonecharging.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    padding: 0;
    margin: 0;
    height: 500px;
}

#lowerimagesx {
    background-image: url(../images/TIM_smart_living.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 500px;
}

#lowerimagedx {
    background-image: url(../images/TIM_fiber.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    padding: 0;
    margin: 0;
    height: 500px;
}

#bottomimagesx {
    background-image: url(../images/TIM_fiber.png);
}

#bottomimagemid {
    background-image: url(../images/TIM_fiber.png);
}

#bottomimagedx {
    background-image: url(../images/TIM_fiber.png);
}

#toplogo {
    /*font-family: "Calibri";*/
    font-size: 40px;
    margin-top: 50px;
    color: midnightblue;
}

.toplogo-hover {
    background-color: aliceblue;
    opacity: 0.4;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.imgpar {
    display: none;
    /*font-family: "Calibri";*/
    text-rendering: geometricPrecision;
    text-emphasis: none;
}

.bright {
    color: linen;
}

.row .col-sm-4 .panel .panel-body > h1,
.row .col-sm-6 .panel .panel-body > h1,
.row .col-sm-8 .panel .panel-body > h1 {
    font-size: 60px;
    padding-top: 25px;
}

.row .col-sm-4 .panel .panel-body,
.row .col-sm-8 .panel .panel-body {
    vertical-align: middle;
    margin-top: 100px;
}

/*.container-fluid .row .col-sm-12 .panel .panel-body > a:hover {
    background-color: blanchedalmond;
}*/

.half-dimensioned {
    width: 50%;
}

.right-aligned {
    object-position: right;
    margin-left: 50%;
}

/* STOP HOME PAGE */

.title_brand {
    font-weight: bold;
}

.imglist {
    text-align: left;
    width: 250px;
    height: 250px;
}

.title_paragraph {
    font-size: 25px;
    font-style: italic;
    opacity: 0.8;
}

.small-img {
    height: 100px;
    width: 100px;
    display: list-item;
    float: right;
    border: 1px solid black;
}

.big-img {
    height: 350px;
    width: 350px;
}

.aligned {
    float: right;
    margin-right: 10px;
    margin-top: 0;
    
}

#filter {
    text-align: center;
}

.squared {
    border: 1px solid aqua;
    padding: 20px;
    margin-top: 20px;
}

.floated-left {
    margin-top: 0;
    padding: 10px;
    width: 500px;
    font-weight: bold;
    text-align: center;
    font-family: inherit;
}

.floated-right {
    margin-top: 0;
    margin-left: 60px;
    padding: 10px;
    color: white;
    width: 500px;
    font-weight: bold;
    text-align: center;
    font-family: inherit;
}

.price {
    color:red;
    font-weight: bold;
    margin-bottom: 0;
    text-rendering: geometricPrecision;
}

.testimonial_panel {
    min-height: 315px;
}

.testimonial_panel > .panel {
    margin: 0;
    padding: 0;
}

.testimonial-par {
    font-size: 20px;
}

.testimonial-img {
    width: 100%;
    height: 315px;
}

.bottomtabs {
    margin-left: 10px;
}
