/* BODY */

/* BODY */

/* UTILITIES */

.intestation {
    margin: 0;
    padding: 0;
}

.myButton {
    margin: 0;
}

.social {
    width: auto;
    height: auto;
    padding: 0;
}

.social-img {
    height: 7vw;
    width: 20vw;
}
/* STOP UTILITIES */

/* HOME PAGE */

#topimage {
    background-image: url(../images/TIM_homepageimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 10vw;
}

#middleimagesx {
    background-image: url(../images/TIM_manatthephone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    padding: 0;
    margin: 0;
    height: 32vw;
}

#middleimagedx {
    background-image: url(../images/TIM_phonecharging.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    padding: 0;
    margin: 0;
    height: 32vw;
}

#lowerimagesx {
    background-image: url(../images/TIM_smart_living.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 32vw;
}

#lowerimagedx {
    background-image: url(../images/TIM_fiber.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    padding: 0;
    margin: 0;
    height: 32vw;
}

#bottomimagesx {
    background-image: url(../images/TIM_fiber.png);
}

#bottomimagemid {
    background-image: url(../images/TIM_fiber.png);
}

#bottomimagedx {
    background-image: url(../images/TIM_fiber.png);
}

#toplogo {
    /*font-family: "Calibri";*/
    font-size: 2.5vw;
    margin-top: 2.5vw;
    color: midnightblue;
}

.toplogo-hover {
    background-color: aliceblue;
    opacity: 0.4;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.imgpar {
    display: none;
    /*font-family: "Calibri";*/
    text-rendering: geometricPrecision;
    text-emphasis: none;
}

.bottom-panel-home {
    height: 10vw;
}

.bright {
    color: linen;
}

.row .col-sm-4 .panel .panel-body > h1,
.row .col-sm-6 .panel .panel-body > h1,
.row .col-sm-8 .panel .panel-body > h1 {
    font-size: 4vw;
    padding-top: 1.5vw;
}

.row .col-sm-4 .panel .panel-body,
.row .col-sm-8 .panel .panel-body {
    vertical-align: middle;
    margin-top: 7vw;
}

.half-dimensioned {
    width: 50%;
}

.right-aligned {
    object-position: right;
    margin-left: 50%;
}

.bottom-img-home {
    height: 15vw;
    display: block;
    margin: auto;
    width: 85%;
}

.btn-home-bottom {
    padding: 0.5vw;
    margin-top: 0;
}
/* STOP HOME PAGE */

.title_brand {
    font-weight: bold;
}

.imglist {
    text-align: left;
    width: 13vw;
    height: 13vw;
}

.title_paragraph {
    font-size: 1.5vw;
    font-style: italic;
    opacity: 0.8;
}

.small-img {
    height: 100px;
    width: 100px;
    display: list-item;
    float: right;
    border: 1px solid black;
}

.big-img {
    height: 30vw;
    width: 30vw;
}

.aligned {
    float: right;
    margin-right: 0.8vw;
    margin-top: 0;
    
}

#filter {
    text-align: center;
}

.squared {
    border: 0.1vw solid aqua;
    display: block;
    margin: auto;
}

.floated-left {
    margin-top: 0;
    padding: 0.5vw;
    width: 32vw;
    font-weight: bold;
    text-align: center;
    font-family: inherit;
}

.floated-right {
    margin-top: 0;
    margin-left: 3vw;
    padding: 0.5vw;
    color: white;
    width: 32vw;
    font-weight: bold;
    text-align: center;
    font-family: inherit;
}

.price {
    color:red;
    font-weight: bold;
    margin-bottom: 0;
    text-rendering: geometricPrecision;
}

.testimonial_panel {
    min-height: 19.5vw;
}

.testimonial_panel > .panel {
    margin: 0;
    padding: 0;
}

.testimonial-par {
    font-size: 1.25vw;
}

.testimonial-img {
    width: 100%;
    height: 19.5vw;
}

.bottomtabs {
    margin-left: 0.8vw;
}

.online_shop {
    margin-top: 2.3vw;
    text-align: center;
    font-size: 1.25vw;
    vertical-align: middle;
    padding-left: 2.0vw;
    margin-bottom: 10vw;
}

.online_shop .col-sm-4 {
    margin-top: 0.4vw;
}

.online_shop > div {
    border: 0.1vw solid blue;
    padding: 1.25vw;
    background-color: azure;
}

#myCarousel {
    background-color: white;
}

.carousel-control.right {
    background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.2) 100%)
}

.carousel-control.left {
    background-image:linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.2) 100%)
}

.promotion-par {
    background-color: yellow;
    color: red;
}

.news {
    height: 27vw;
}

.filled {
    background-color: aquamarine;
}

.well > h1 {
    margin: 0;
}

.well > button {
    margin-top: 3%;
}