/****** Redevil *******/

.breadpar {
    font-size: 15px;
}

#glifo{
    font-size: 50px;

    margin-top: 5%;
}

.casaEfamiglia{
    padding-top: 20px;
    padding-bottom: 20px;
}

.activatingPromTitle{
    color: blue;
    margin-left: 5%;
}

.attivazioneLog{
    color: blue;
    margin-top: 10px;
}

.attivazioneLine{
    margin-left: 15%;
    margin-right: 15%;
    border: solid 1px;
    color: lightblue;

}

img.squareImgMedium{
    width: 300px;
    height: 300px;
}
